body {
    font-family: 'red hat display', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upperContainer {
    background: linear-gradient(to bottom, #8f00f1, #4dcbff);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: white;
    height: 70vh;
    width: 100%;
}

.bottomContainer {
    background: linear-gradient(to bottom, #8f00f1, #4dcbff);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    height: 30vh;
}
a {
    text-decoration: underline;
    color: white;
    transition: .1s;
}
a:hover {
    color: #4dcbff;
}

.text {
    text-align: center;
    font-size: 40px;
    width: 50%;
}
@media (max-width: 1150px) {
    .text {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .text p b {
        font-size: 47px;
    }
}

.text p {
    text-align: center;
    font-size: 2em;
}

.leftImage > img {
    height: 100%;
}

.dividerTop {
    background: #1d1b31;
    width: 100%;
    height: 15vh;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
    margin-top: -60px;
}

.dividerBot {
    background: #1d1b31;
    width: 100%;
    height: 15vh;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    margin-bottom: -60px;
}

.help {
    height: fit-content;
    width: 70%;
}
.help summary{
    font-size: 50px;
}
.help p{
    font-size: 25px;
}
.help details {
    margin: 50px;
}

details {
    transition: 1s;
}

@media (max-width: 768px) {
    .leftImage{
        display: none;
    }
}