body {
    font-family: 'red hat display', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1d1b31;
    color: white;
    font-weight: 100;
}

.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, #8f00f1, #4dcbff);
}

.emphasis-area {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    gap: 50px;
}
.emphasis-area > .etext > .etitle {
    font-size: 70px;
}
.etext {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.emphasis-area > .etext > p {
    font-size: 40px;
}
.main-btext {
    width: 80%;
}

.emphasis-area p {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}
.main-area .left-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: right;
}
.main-area .right-area {
    text-align: center;
    width: 50%;
}
.main-area .right-area .title {
    font-size: 100px;
    font-weight: 300;
}
.main-area .right-area p {
    font-size: 50px;
}

.bottom-area {
    padding-top: 50px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #8f00f1, #4dcbff);
}
.bottom-area p {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}   