body {
    font-family: 'red hat display', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1d1b31;
    color: white;
}

.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, #8f00f1, #4dcbff);
}

.emphasis-area {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emphasis-area p {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}
.main-area .left-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: right;
}
.main-area .right-area {
    text-align: center;
    width: 50%;
}
.main-area .right-area .title {
    font-size: 100px;
}
.main-area .right-area p {
    font-size: 50px;
}
@media (max-width: 1200px) {
    .main-area .right-area .title {
        font-size: 80px;
    }
    .main-area .right-area p {
        font-size: 40px;
    }
}
@media (max-width: 968px) {
    .main-area .right-area .title {
        font-size: 60px;
    }
    .main-area .right-area p {
        font-size: 30px;
    }
}

.carousel-container {
    border-top: solid #8f00f1;
    border-bottom: solid #4dcbff;
    padding: 25px;
    width: 80%;
    margin: 50px auto;
    position: relative;
}
.carousel-container.border-black {
    border-color: #1d1b31;
}
.carousel-container .carousel-inner {
    overflow: hidden;
}
.carousel-container .track {
    display: inline-flex;
    transition: .8s;
    padding: 25px;
}
.carousel-container .card-container {
    width: 250px;
    height: 350px;
    color: black;
    padding-right: 25px;
    box-sizing: border-box;
    flex-shrink: 0;
}
.card-container .card {
    width: 100%;
    height: 100%;
    border: solid 1px #8f00f1;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: .5s;
}
.card:hover{
    border: solid 1px #4dcbff;
    transform: scale(1.1);
}
.card > * {
    flex: 1;
}
.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
}
.card .img img {
    height: 250px;
}

.card .info {
    flex-basis: 40px;
    flex-grow: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, #8f00f1, #4dcbff);
    color: white;
    border-radius: 0 0 18px 18px;
    text-align: center;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #8f00f1, #4dcbff);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}
.nav button i {
    height: 50px;
    font-size: 40px;
    line-height: 50px;
}
.nav .prev, .nav .prev2 {
    left: 0px;
}
.nav .prev.shown, .nav .prev2.shown {
    display: block;
}
.nav .next, .nav .next2{
    right: 0px;
}
.nav .next.shown, .nav .next2.shown {
    display: block;
}

.bottom-area {
    padding-top: 50px;
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #8f00f1, #4dcbff);
}
.bottom-area p {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}



.divider-top {
    background: #1d1b31;
    width: 100%;
    height: 15vh;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
    margin-top: -60px;
}

.divider-bot {
    background: #1d1b31;
    width: 100%;
    height: 15vh;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    margin-bottom: -60px;
}