* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    position: fixed;
    z-index: 10;
    height: 100%;
    margin-left: -.15%;
}

#profile {
    transition: all .2s linear;
}
.name {
    margin-left: 20px;
}
a {
    text-decoration: none;
}

.logo .pfp {
    background-image: url(../images/pfp.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    z-index: 100;
    position: absolute;
    border: solid 1px;
    border-radius: 100px;
    border-color: black;
}

.left-menu {
    width: 14rem;
    height: 100%;
    display: flex;
    position: relative;
    background: white;
    flex-direction: column;
    transition: all .4s ease;
    border-radius: 0px 20px 20px 0px;
    border-right: solid 2px;
    border-color: #8f00f1;
}

.menu {
    position: absolute;
    list-style: none;
    color: #E6E6E6;
    z-index: 1200;
    top: 4%;
    right: -16px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.2s;
    transform: rotate(-90deg);
}

.active {
    transform: rotate(90deg);
}

.left-menu ul li a {
    display: flex;
}

.logo {
    position: relative;
    width: 60px;
    top: 1rem;
    left: 0.25rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.logo img {
    width: 90%;
    z-index: 100;
    position: absolute;
}

.logo span {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo p {
    position: relative;
    color: #8f00f1;
    text-align: left;
    font-size: 18px;
    display: table;
    left: 90px;
    width: 100px;
    padding: 10px;
    text-decoration: none;
    user-select: none;
}

.left-menu ul {
    display: flex;
    margin-top: 2rem;
    overflow: hidden;
    margin-left: .9rem;
    flex-direction: column;
    align-items: flex-start;
}

ul li {
    list-style: none;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 2px;
    transition: all .3s linear;
    font-family: 'Poppins', sans-serif;
}

ul li a {
    padding: 0.5rem;
    color: #8f00f1;
    text-decoration: none;
}

ul li a i {
    cursor: pointer;
    color: #8f00f1;
    font-size: 1.4rem;
    margin-right: 1.6rem;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all .3s linear;
}

.sidebar-item i {
    text-align: center;
}

.left-menu ul li:hover {
    transform: translateX(.4rem);
    transition: all .2s linear;
}
#profile:hover {
    transform: translateX(.4rem);
    transition: all .2s linear!important;
}

.left-menu ul li:hover .fa-solid,
.left-menu ul li:hover a { font-weight: bold;
    color: #4dcbff;
}

.menu:hover {
    color: #4dcbff;
}
.close:hover {
    color: #4dcbff;
}

.sideText {
    margin-top: 3px;
}